body {
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 14px;

}

h1,
h2,
h3,
h4 {
    font-family: 'unbounded', cursive;
    font-weight: 300;
}

h1,
h2 {
    font-size: 26px;
}

h3,
h4 {
    font-size: 20px;
}


/* Toggle para cambiar a modo oscuro */
.toggle-wrapper {
    width: 90px;
    height: 40px;
	background: gainsboro;
    position: relative;
	display: flex;
    flex-direction: row;
    align-items: center;
	border-radius: 50px;
    box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.2), inset 0px -2px 7px rgba(255, 255, 255, 0.2);
	margin: 0px;
	transition: all 0.3s ease;
	transform-origin: 20% center;
	
}

.darkmode-toggle {
    appearance: none;
    height: 35px;
    width: 35px;
    opacity: 100;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.darkmode-toggle-item {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.sun {
    color: whitesmoke; 
    width: 20px;
    height: 20px;
    position: absolute;
    left: 11px;
}

.moon {
    color:#777;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 9px;
}



/* divs dentro de cada article */


.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    flex: 0 0 auto;
    width: 100%;
    
}

.introduction:nth-child(1) {
    font-family: 'unbounded', cursive;
    font-weight: 300;
    font-size: 14px;
    text-align: center;

}

.about-me {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    flex: 0 0 100%;
}

.intro-about-me {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 11px;
    box-sizing: border-box;
}

.intro-about-me img {
    width: 30%;
    border-radius: 20px;
}


.pattern-content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

.content-frontend {
    justify-content: flex-start;
    flex-direction: row-reverse;
    text-align: right;
}

.pattern-box-subtitle {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
    width: 100%;
}

.pattern-fortalezas {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
    position: relative;
    width: fit-content;
}

.fortalezas-frontend {
    padding: 0 0 0 20px;
}

.lista-fortalezas {
    text-align: left;
}

.box-title-moreInfo {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.moreInfo-content {
    width: calc(100% - 56px);
    padding: 26px 28px;
    gap: 29px;

}

.moreInfo-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moreInfo-content-buttons {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 10px 0px;
    gap: 80px;

}

.buttons-1 {
    gap: 85px;
}

.button-moreInfo {
    appearance: none;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 7px;

    cursor: pointer;

}

.button-moreInfo svg:hover {
    color:rgb(184, 186, 232);
    transform: rotate(10deg);
}

button {
    appearance: none;
    color: black;

}

/* Bloques de section y article */

.pattern-container {
    width: calc(100vw - 80px);
    height: calc(100svh - 80px);
    padding: 40px;
    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.pattern-section {
    position: relative;
    display: flex;
    flex-direction: column;
}

.section-work {
    padding: 0px;
    margin: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 50%;
}

.section-info,
.section-moreInfo-and-Contact {
    width: 30%;
    border: 1px solid black;
}


.pattern-article {
    border-bottom: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}

.article-basic-info {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.article-name {
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.article-cv,
.article-socials {
    flex: 0 0 3%;
}

.article-cv {
    padding: 30px;
}
   

.article-socials {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
}


.work-title {
    text-align: center;
}

.arrow-title-work {
    margin: 0 auto; 
    padding-bottom: 20px;
}

.article-uxui,
.article-frontend {
    padding: 0;
    align-items: flex-start;
    border: none;
    width: 100%;
}
.article-frontend {
    justify-content: right;
    align-items: flex-end;
}
.article-moreInfo {
    flex: 1;
    justify-content: flex-start;
    padding: 0;
}

.article-contact {
    box-sizing: border-box;
    width: 100%;
    flex: 0 0 30%;
    padding: 0px;
    border: none;

}

/* Elementos concretos */


[data-header] {
    font-size: 12px;
}

[data-header]::before {
    content: attr(data-header) ": ";
}

.logo {
    color: rgba(232, 201, 93, 1);
}

.pattern-title {
    font-family: 'unbounded', cursive;
    font-weight: 300;
    font-size: 26px;
    display: flex;
}

.pattern-title::before {
    content: '['
}

.pattern-title::after {
    content: ']'
}

.title-work-content {
    border: 1px solid rgba(0, 0, 0, 1);
    border-left: none;
    padding: 10px 75px;
    margin: 0;
}

.text-block__work {
    padding: 0px 20px;
}

.contact-text {
    margin-top: 5px;
    margin-bottom: 0;
}

a:visited {
    color: rgba(211, 212, 247, 1);

}

.social-link {
    justify-content: center;
    display: flex;
}

.social-link:visited {
    color: black;
}

a:hover {
    color: rgba(232, 201, 93, 1);
}

.flower {
    padding-bottom: 10px;
}


.big-flower:hover {
    color:rgba(211, 212, 247, 1);
    transform: rotate(20deg);
    cursor: pointer;
}

.arrow-work {
    display: flex;
    align-self: center;
    min-width: 10%;
}

.reverse {
    transform: rotate(180deg);
}

.border-except-right {
    border-left: 1px solid black;
    border-right: none;
    padding: 10px 55px;
}

.button-up {
    background: none;
    border: 1px solid black;
    border-radius: 100px;
    
    align-self: flex-end;
    margin-right: 50px;
    margin-bottom: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;

}

.formulario {
    background-color: rgba(211, 212, 247, 1);
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 30px;

    display: none;

}

.cerrar-formulario {
    background: none;
    border: none;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 20px;

    cursor: pointer;
}

.intro-formulario {
    padding: 0 30px;
    display: flex;
    align-self: stretch;

}


.title-formulario {
    margin: 30px;
    font-size: 46px;
    font-weight: 400;
    width: 50%;
    
}

.inputs-formulario {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 22px;
    width: 80%;
}

.inputs-formulario input {
    width: calc(100% - 24px);
    border: none;
    border-radius: 8px;
    padding: 12px;

    background-color: white;
    color:#000000
}

.inputs-formulario input::placeholder {
    color: rgba(197, 192, 192, 1);
}

.inputs-formulario label {
    font-family: 'unbounded', cursive;
    font-weight: 400;
    font-size: 20px;
}

.btn-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 113px;

    width: 50%;

    background: #E8C95D;
    border-radius: 35px;
    border: none;

    font-family: 'Unbounded', cursive;
    font-weight: 400;
    font-size: 14px;

    cursor: pointer;
    
}

.layer-info {

    background-color: rgba(211, 212, 247, 1);
    position:absolute;
    top: 75.656px;
    right: 0;
    width: 100%;
    height: 60.45%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0px;

    display: none;

}

.pattern-layers-title-moreInfo {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    gap: 10px;

    border-bottom: 1px solid #000000;
    align-self: stretch;

    position: relative;
    

}

.pattern-layers-title-moreInfo h3 {
    margin: 0;
    
}

.x-button {
    background: none;
    border: none;
    font-size: 20px;
    align-self: stretch;
    align-content: flex-start;

    cursor: pointer;
}

.layer-hobbies p {
    font-family: 'Unbounded';
    font-weight: 300;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.group-img {
    overflow-y: scroll;
    padding: 0 10px;
    padding-bottom: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.group-img img {
    object-fit: cover;
}

.align-center {
    display:flex;
    align-self: center;
}

.align-end {
    display: flex; 
    align-self: flex-end;
}

.align-start {
    display: flex;
    align-self: flex-start;
}

.lists-of-elements {
    overflow-y: scroll;
}

.title-list {
    font-family: 'Unbounded', cursive;
    font-size: 16px;
    font-weight: 400;
}

.list-with-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px 5px 0px 10px;

    font-size: 12px;
    font-weight: 300;
    
}

.list-only-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 0px 0px;

}

.watchlist-list {
    overflow-y: auto;
    height: 50%;
}

.layer-watchlist h4 {
    font-size: 20px;
    margin: 10px;
}

.box-hecho,
.box-pendiente,
.box-no-recomendada {
    
    display: flex;
    justify-content: center;
    padding: 3px 14px;
    gap: 10px;

    width: 30%;
    height: 20%;
    border-radius: 100px;
    background-color: rgba(158, 237, 175, 1);

    font-size: 12px;
    font-weight: 300;
}

.box-pendiente {
    background-color: rgba(232, 231, 231, 1);
}

.box-no-recomendada {
    background-color: rgba(225, 134, 131, 1);
    width: 53%;
}

.list-of-origin {
    overflow-y: scroll;
    padding: 0 12px;
    
}

.origin-box {
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    gap: 15px;
}

.text-intro-origen,
.text-origen {
    font-family: 'Unbounded', cursive;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    margin: 0;

}

.text-origen {
    font-size: 12px;
}

.box-50 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-sub-box {
    display: flex;
    flex-direction: column;
}

.origin-box img,
.origin-sub-box img {
    width: 40%;
    height: 40%;
}

.box-50 img {
    width: 70%;
    height: 70%;
}

.box-center {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.layer-cat-content {
    margin: 20px;
    padding-top: 40px;

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer-cat-content img {
    border-radius: 12px;
}

.sticky-socials {
    display: none;
}

a {
    color: black;
}

/* Tamaño img y svgs */
.size-smaller {
    width:10%;
    height: 10%;
}

.size-small {
    width: 20%;
    height: 20%;
}

.size-medium {
    width: 40%;
    height: 40%;
}

.size-big {
    width: 50%;
    height: 50%;
}

.size-bigger {
    width: 70%;
    height: 70%;
}

.pattern-box-subtitle svg {
    min-width: 20%;
}
.pattern-subtitle {
    font-size: 16px;
}

/* Scrollbar */

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}   
::-webkit-scrollbar-track {
    background-color: rgb(40, 39, 39);

}
::-webkit-scrollbar-thumb {
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 100px;
}

.watchlist-list::-webkit-scrollbar-track,
.lists-of-elements::-webkit-scrollbar-track,
.group-img::-webkit-scrollbar-track,
.list-of-origin::-webkit-scrollbar-track {
    background:rgba(232, 201, 93, 1);
}

.watchlist-list::-webkit-scrollbar-thumb,
.lists-of-elements::-webkit-scrollbar-thumb,
.group-img::-webkit-scrollbar-thumb,
.list-of-origin::-webkit-scrollbar-thumb {
    background:rgba(255, 255, 255, 0.6);
}



/* Para cambiar a dark mode */

.toggle-wrapper.dark .darkmode-toggle {
    background: linear-gradient(180deg, #777, #3a3a3a);
    position: absolute;
    right:0px;
}

body.dark {
    background-color: rgba(46, 46, 46, 1);
    color: white;
}

body.dark .section-moreInfo-and-Contact,
body.dark .section-info {
    border: 1px solid white;
}


body.dark .section-work {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

body.dark .pattern-article {
    border-bottom: 1px solid white;
}

body.dark .article-socials,
body.dark .article-contact,
body.dark .article-intro,
body.dark .article-frontend,
body.dark .article-uxui {
    border: none;
}

body.dark .box-title-moreInfo {
    background-color: white;
    color:#000000;
}

body.dark .title-work-content {
    border: 1px solid white;
    border-left: none;
}

body.dark .border-except-right {
    border: 1px solid white;
    border-right: none;
}

body.dark .moon {
    color: whitesmoke;
}

body.dark .sun {
    color: #d8860b;
}

body.dark .big-flower:hover,
body.dark .button-moreInfo svg:hover,
body.dark a:visited {
    color:rgba(232, 201, 93, 1);
}

body.dark a:hover {
    color:rgba(211, 212, 247, 1);
}

body.dark .social-link:visited,
body.dark .button-moreInfo {
    color: white;
}

body.dark .button-moreInfo svg:hover {
    color:rgba(232, 201, 93, 1);

}

body.dark .layer-info,
body.dark .formulario {
    background-color:rgba(232, 201, 93, 1);
    color: black;
}

body.dark .btn-enviar {
    background-color:rgba(211, 212, 247, 1);
    color: black;
}

body.dark .button-up {
    color: white;
    border: 1px solid white;
}

body.dark ::-webkit-scrollbar-track {
    background-color: white;

}

body.dark ::-webkit-scrollbar-thumb {
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 100px;
}

body.dark .group-img::-webkit-scrollbar-track,
body.dark .lists-of-elements::-webkit-scrollbar-track,
body.dark .list-of-origin::-webkit-scrollbar-track,
body.dark .watchlist-list::-webkit-scrollbar-track {
    background-color:rgba(211, 212, 247, 1);
}

body.dark .group-img::-webkit-scrollbar-thumb,
body.dark .lists-of-elements::-webkit-scrollbar-thumb,
body.dark .list-of-origin::-webkit-scrollbar-thumb,
body.dark .watchlist-list::-webkit-scrollbar-thumb {
    background-color:rgba(255, 255, 255, 0.8);
}

body.dark a {
    color: white;
}

/* Media query */

@media screen and (max-width: 1344px) {
    .layer-info {
        height: 60.90%;
    }
}

@media screen and (max-width: 1100px) {
    
    body {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100svh;
        min-height: -webkit-fill-available;
    }

    .pattern-container {
        width: calc(100vw - 60px);
        height: calc(100svh - 60px);
        margin: 60px;
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        border: 1px solid black;
    }

    .pattern-container::-webkit-scrollbar {
        width: 0;
    }

    .pattern-section {
        border: none; 
        width: 100%;
    }

    .article-basic-info {
        position: fixed;
        background-color: white;
        z-index: 3;
        width: calc(100% - 90px);
    }

    body.dark .article-basic-info {
        background-color: rgba(46, 46, 46, 1);
    }

    .article-socials {
        display: none;
        height: 60px;
        border-top: 1px solid black;
    
    }

    body.dark .article-socials {
        background-color: rgba(46, 46, 46, 1);
        display: none;
        border-top: 1px solid white;
    }

    .article-name {
        padding-top: 192px;
        padding-bottom: 79px;
        width: calc(100% - 30px);
    }

    .intro-about-me img {
        width: 20%;
    }

    .article-intro h2 {
        font-size: 20px;
    }


    .pattern-content {
        overflow-x: auto;
        gap: 36px;
        width: 100%;
    }

    .lista-fortalezas {
        padding-bottom: 20px;
    }

    .box-title-moreInfo h2 {
        font-size: 26px;
    }

    .moreInfo-content {
        overflow: auto;
    }

    .moreInfo-content-buttons {
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        padding: 10px 0px;
        gap: 80px;
    }

    .layer-info {
        top: 75.4px;
        left: 0;
        height: 62.4%;
        width: 100%;
    }

    .group-img img {
        width: 100%;
        height: 100%;
    }

    .button-up {
        display: flex;
        margin-top: 25px;
    }

    .sticky-socials {
        display: flex;
    }

    /* modo dark en mobile */

    body.dark .pattern-section {
        border: none;
    }

    body.dark .pattern-container {
        border: 1px solid white;
    }

    body.dark .sticky-socials {
        display: flex;
        color: white;
    }
}

@media screen and (max-width: 800px) {
    .title-formulario {
        margin: 0;
        margin-top: 40px;
    }
    .title-formulario, .cerrar-formulario {
        font-size: 24px;
    }

    .inputs-formulario label {
        font-size: 14px;
    }
    .inputs-formulario input {
        font-size: 12px;
    }
}

@media screen and (max-width: 535px) {
    .text-block__work {
        scroll-snap-align: center;
        flex: 0 0 auto;
        width: calc(100% - 125px);
        padding: 0px 20px;
    }
}

