body {
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1,
h2,
h3,
h4 {
    font-family: 'unbounded', cursive;
    font-weight: 300;
}

h1,
h2 {
    font-size: 26px;
}

h3,
h4 {
    font-size: 20px;
}

.pattern-container {
    max-width: 1538px;
    max-height: 874px;
    margin: 16px auto;
    background-color: white;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.pattern-section {
    position: relative;
    display: flex;
    flex-direction: column;
}

.section-work {
    flex: 1;
}

.section-info,
.section-moreInfo-and-Contact {
    flex: 0 0 20%;
}

.section-info,
.section-work {
    border-right: 1px solid black;
}

.pattern-article {
    border-bottom: 1px solid black;
    padding: 15px;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-basic-info {
    position: relative;
    display: flex;
    flex: 0 0 5%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.article-name {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    width: 378px;
    overflow: auto;
    scroll-snap-type: x mandatory;

}

.article-cv {
    display: flex;
    flex: 0 0 3%;
    padding: 30px;
}

.article-socials {
    display: flex;
    flex: 0 0 3%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.article-intro {
    padding: 0px;
    padding-bottom: 22.5px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

/* divs dentro de cada article */

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    
}

.introduction:nth-child(1) {
    font-family: 'unbounded', cursive;
    font-weight: 300;
    font-size: 14px;
    text-align: center;

}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    scroll-snap-align: center;
    flex: 0 0 80%;
    margin: 30px;
    padding: 16px;
    object-fit: cover;
}

.intro-about-me {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 11px;
}

[data-header] {
    font-size: 12px;
}

[data-header]::before {
    content: attr(data-header) ": ";
}

.pattern-title {
    font-family: 'unbounded', cursive;
    font-weight: 300;
    font-size: 26px;
}

.pattern-title::before {
    content: '['
}

.pattern-title::after {
    content: ']'
}

a:visited {
    color: rgba(211, 212, 247, 1);

}


.flower {
    padding-bottom: 10px;
}







/* Toggle para cambiar a modo oscuro */
.toggle-wrapper {
    width: 80px;
    height: 40px;
	background: gainsboro;
    position: relative;
	display: flex;
    flex-direction: row;
    align-items: center;
	border-radius: 50px;
    box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.2), inset 0px -2px 7px rgba(255, 255, 255, 0.2);
	margin: 0px;
	transition: all 0.3s ease;
	transform-origin: 20% center;
	
}

.darkmode-toggle {
    appearance: none;
    height: 35px;
    width: 35px;
    opacity: 100;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    
} 

.darkmode-toggle:checked{
    background: linear-gradient(180deg, #777, #3a3a3a);
    position: absolute;
    right:0px;
}

.darkmode-toggle-item {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.sun {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 11px;
}

.moon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 9px;
}
